.content {
  margin-left: 20%;
}

.contact-sidebar {
  position: fixed;
  right: 0;
  top: 44px;
  width: 20%;
  height: 100%;
  margin-right: 20%;
  border-left: 5px solid #ecece9;
}

.contact-links {
  margin-top: 100px;
  padding-top: 30px;
  color: #b3b3b3;
}

.contact-picture img {
  width: 30%;  
  float: left;  
  margin: 0px 30px 20px 20px;
  border-radius: 70px;
}

.social-links {
  margin-top: 10px;
  padding-left: 39%;
}

.social-links a i {
  font-size: 26px;
  margin-right: 12px;
  cursor: pointer;
}

.social-links a i:hover {
  color: #999999;
}

.contact-form {
  padding: 10px;
}

.contact-form * {
  display: block;
  width: 100%;
}

.contact-form input, textarea {
  max-width: 100%;
  margin-left: -3px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 15px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;  
}

.contact-form input {
  height: 2em;  
  font-size: 14px;
}

.contact-form textarea {
  height: 15em;
  font-size: 16px;
}

.contact-form button {
  height: 4em;
  padding: 10px 5px;
  margin-left: 8px;
  border: 3px solid white;
  border-radius: 5px;
  font-size: 14px;
  color: #bfbfbf;
  cursor: pointer;
}

.contact-form button:hover {
  border: 3px solid #b3b3b3;
  color: #b3b3b3;
}

.contact-form button i {
  display: inline;
}
