<div class='content'>
  <div class='title'>
  </div>
  <div class='social-network-links-long'>
  </div>
  <div class='about'>
    <p>My name is Ante and I was born in .93 in Zagreb, Croatia.</p>

    <p>Here, in the past 5 years, I've studied <b>Applied Mathematics</b>, <b>Engineering </b></p>
    <p><b>and Computing</b>and now finally <b>IT</b> at the local university (<a href="">TVZ</a>).</p>

    <p></p>
  </div>
</div>
<div class='contact-sidebar'>
  <div class='contact-header'>
    <div class='contact-picture'>
      <img src="../../assets/avatar.jpg">
    </div>
    <div class='contact-links'>
      <p> Ante Adamović | <span class='highlight'>Get in touch</span> </p>
      <div class='social-links'>
        <a title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a title="Google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        <a title="Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </div> 
  <div class='contact-form'>
    <form>
      <input type='email' placeholder='Your e-mail'>
      <textarea placeholder='Your message ...'></textarea>
      <button type='submit'>
        Send
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>  
      </button>
    </form>
  </div>
</div>
