<div class='content'>
  <div class='title'>
  </div>
  <div class='social-network-links-long'>
  </div>
  <div class='about'>
    <h2> This is my story ! </h2>
    <p>My name is Ante and I was born in .93 in Zagreb, Croatia.</p>
    <br/>
    <p>Here, in the past 5 years, I've studied <b>Applied Mathematics</b> (<a href="https://www.math.pmf.unizg.hr/en" target="_blank">PMF</a>),
    <b>Engineering and Computing</b> (<a href="https://www.fer.unizg.hr/en" target="_blank">FER</a>) and now finally
    <b>IT</b> at the local university (<a href="http://www2.tvz.hr/en/" target="_blank">TVZ</a>).</p>
    <br/>
    <p>For the past 4 years I've been delving deeper and deeper into software development, with languages ranging from desktops C/C++/C#/Java
      over frontend Javascript/AngularJS all the way to backend PHP/SQL.</p>
    <br/>
    <p>I gotta say that I kinda stuck to Front-End since the evolution of
      the Internet is going wild and you can do so much more then you could a couple years ago. </p>
    <br/>
    <p> Front-end web applications are on pair with regular desktop applications in the terms of execution
      and optimization, while being a lot more compatible over a wide range of devices.</p>
    <br/>
    <p>Currently I'm working for Keeper Solutions, an Irish Human Resources company, that is helping other companies find
    software developers for their own projects and have this awesome platform called <a href="https://mytalengi.com" target="_blank">MyTalengi</a>
    which I also help test and develop.</p>
    <br/>
    <hr/>
    <br/>
  </div>
</div>
<div class='contact-sidebar'>
  <div class='contact-header'>
    <div class='contact-picture'>
      <img src="../../assets/avatar.jpg">
    </div>

    <div class='contact-links'>
      <p> Ante | <span class='highlight'>Get in touch</span> </p>
      <div class='social-links'>
        <a class='icon github-icon' href="https://github.com/anteAdamovic" target="_blank" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a class='icon linkedin-icon' href="https://www.linkedin.com/in/ante-adamovic-72933960" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a class='icon twitter-icon' href="https://twitter.com/AnteAdamovi" target="_blank" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a class='icon google-plus-icon' href="https://plus.google.com/u/0/108547614026802998434" target="_blank" title="Google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        <a class='icon facebook-icon' href="https://www.facebook.com/ante.adamovic93" target="_blank" title="Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class='contact-form'>
    <form>
      <input type='email' placeholder='Your e-mail'>
      <textarea placeholder='Your message ...'></textarea>
      <button type='submit'>
        Send
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</div>
