.content {
  height: 100%;
  margin-left: 20%;
  max-width: 37%;
}

.about {
  height: 100%;
  padding-top: 20px;
  color: #656565;
  border-right: 5px solid #ecece9;
}

.about h2 {
  margin-bottom: 20px;
  color: #999999;
}

.about hr {
  width: 90%;
  margin: auto;
  border: 2px solid #bfbfbf;
}

.contact-sidebar {
  position: fixed;
  right: 0;
  top: 10px;
  width: 20%;
  height: 100%;
  padding-left: 10px;
  margin-right: 22%;
}

.contact-links {
  margin-top: 50px;
  padding-top: 20px;
  color: #b3b3b3;
}

.contact-picture img {
  width: 30%;
  min-width: 30%;
  float: left;
  margin: 0px 30px 20px 20px;
  border-radius: 70px;
}

.social-links {
  margin-top: 10px;
  padding-left: 39%;
}

.social-links a i {
  font-size: 26px;
  margin-right: 6px;
  cursor: pointer;
}

.contact-form {
  padding: 10px;
}

.contact-form * {
  display: block;
  width: 100%;
}

.contact-form input, textarea {
  max-width: 100%;
  margin-left: -3px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 15px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.contact-form input {
  height: 2em;
  font-size: 14px;
}

.contact-form textarea {
  height: 15em;
  padding-top: 10px;
  font-size: 16px;
}

.contact-form button {
  height: 3em;
  width: 110%;
  margin-left: -5px;
  padding: 5px 15px;
  border: 3px solid white;
  border-radius: 5px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: #bfbfbf;
  cursor: pointer;
}

.contact-form button:hover {
  border: 3px solid #b3b3b3;
  color: #999999;
}

.contact-form button i {
  display: inline;
}

@media (min-width: 1485px) {

}
