/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  font-family: "Arvo",arial,sans-serif;
}

body {
  background-color: #fafafa;
}

.icon {
  height: 25px;
  color: inherit;
}

.github-icon:hover {
  color: #4078c0;
}

.linkedin-icon:hover {
  color: #2672ae;
}

.twitter-icon:hover {
  color: #1da1f2;
}

.google-plus-icon:hover {
  color: #db4437;
}

.facebook-icon:hover {
  color: #3b5998;
}

.highlight {
  color: gray;
}
